@font-face {
  font-family: 'Trust';
  src: url('https://theshortfilmshow.com/fonts/Trust-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Trust';
  src: url('https://theshortfilmshow.com/fonts/Trust-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trust', Georgia, serif;
  background-color: #050505;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}
